body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.main-container{
  width: 100%;
}
.main-container .heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.content-container{
  background: #DBDADA;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
.content-container .content-inner{
   width: 848px;
}
.content-container .content-inner .left-container{
  width: 70%;
}
.content-container .content-inner .right-container{
  width: 30%;
}
.content-container .content-inner .content-heading{
    width: 848px;
    height: 50px;
    left: 217px;
    top: 90px; 
    background: #FFF388;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-container {
    display: block;
    position: relative;
    padding: 10px 10px 10px 55px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 16px;
    user-select: none;
  }
  .check-container:hover{
      background-color: #fff388;
  }
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 9px;
    left: 9px;
    height: 20px;
    width: 25px;
    border-radius: 4px;
    background-color: #eee;
  }
  /* .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  /* .check-container input:checked ~ .checkmark {
    background-color: #2196F3;
  } */
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .check-container .checkmark:after {
    left: 9px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
    .card-box{
     background-color: #fff;
     width: 500px;
     padding: 30px;
     margin-top: 20px;
     border-radius: 10px;
    }
    .card-box>div h3{
    margin: 0;
    font-size: 18px;
    padding-bottom: 10px;
    }
    .card-box>div form{
        display: flex;
        flex-direction: column;
    }
    .card-box>div form input{
       margin-bottom: 6px;
       padding: 6px;
    }
    .card-box>div form label{
        display: flex;
        justify-content: space-between;
    }
    .card-box>div form label input{
        width: 140px;
    }
    .payment{
    border: 1px solid rgba(51, 51, 51, 0.1);
     padding: 6px;
     display: flex;
     justify-content: space-between;
     background-color: #f7f7f7;
    }
    input{
        outline: none;
        background-color: #f7f7f7;
        box-shadow: none;
        border-style: none;
        border: 1px solid rgba(51, 51, 51, 0.1)
    }
    input:focus{
        box-shadow: none;
    }
    .payment input:nth-child(1){
        width: 350px;
        border: none;
    }
    .payment input:nth-child(2){
        width: 80px;
        border: none;

    }
    .payment input:nth-child(3){
        width: 50px;
        border: none;
    }