body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.main-container{
  width: 100%;
  padding-top: 5px;
}
.main-container .heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.1);
    padding: 5px;
}
.main-container .heading h2{
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.1);
}
.container{
    display: flex;
}
.content-container{
  background: #DBDADA;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
.content-container .content-inner{
   width: 848px;
}
.content-container .content-inner .left-container{
  width: 63%;
}
.content-container .content-inner .right-container{
  width: 40%;
}
.content-container .content-inner .content-heading{
    height: 50px; 
    background: #FFF388;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-container {
    display: block;
    position: relative;
    padding: 10px 10px 10px 55px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 16px;
    user-select: none;
  }
  .check-container:hover{
      background-color: #fff388;
  }
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 9px;
    left: 9px;
    height: 20px;
    width: 25px;
    border-radius: 4px;
    background-color: #eee;
  }
  /* .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  /* .check-container input:checked ~ .checkmark {
    background-color: #2196F3;
  } */
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .check-container .checkmark:after {
    left: 9px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
    .card-box{
     background-color: #fff;
     width: 420px;
     padding: 30px;
     margin-top: 20px;
     border-radius: 10px;
    }
    .card-box>div h3{
    margin: 0;
    font-size: 18px;
    padding-bottom: 10px;
    }
    .card-box>div form{
        display: flex;
        flex-direction: column;
    }
    .card-box>div form input{
       margin-bottom: 6px;
       padding: 8px;
    }
    .card-box>div form label{
        display: flex;
        justify-content: space-between;
    }
    .card-box>div form label input{
        width: 115px;
    }
    .payment{
    border: 1px solid rgba(51, 51, 51, 0.1);
     padding: 8px;
     display: flex;
     justify-content: space-between;
     background-color: #f7f7f7;
    }
    input{
        outline: none;
        background-color: #f7f7f7;
        box-shadow: none;
        border-style: none;
        border: 1px solid rgba(51, 51, 51, 0.1)
    }
    input:focus{
        box-shadow: none;
    }
    .payment input:nth-child(1){
        width: 350px;
        border: none;
    }
    .payment input:nth-child(2){
        width: 80px;
        border: none;

    }
    .payment input:nth-child(3){
        width: 50px;
        border: none;
    }
    .finish{
        background: #28C700;
        border-radius: 5px;
        margin-top: 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .finish a{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 156.89%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
    }
    .icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .icon-container i{
        margin-right: 20px;
        font-size: 24px;
    }
    .paypal-btn{
       background: #FFC43A;
       border-radius: 5px;
       
    }
    .paypal-btn a{
       width: 100%;
       height: 45px;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .paypal-btn a img{
        width: 103px;
        /* height: 28px; */
    }
    .image-box{
        width: 300px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.1);
        border-radius: 10px;
        padding: 15px;
        margin-top: 20px;
        }
        .image-box>div h3{
            margin: 0px;
            padding-bottom: 10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 150%;
        }
        .image-box>div .img-container{
            width: 300px;
        }
        .image-box>div .img-container img{
            width: 100%;
            border-radius: 5px;
        }
        .image-box .order-container{
          padding: 15px;
        }
        .image-box>div .order-list p{
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 5px 0px;
        }
        .image-box>div .order-list p span{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 150%;     
            letter-spacing: 0.005em; 
            color: #404950;
        }
        .image-box>div .order-list h1{
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 5px 0px;
        }
        .image-box>div .order-list h1 span{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 156.89%;
            color: #404950;
        }

        @media (max-width: 479px) and (min-width: 320px) {
            .content-container .content-inner{
                width: 100%;
                padding: 5px;
            }
            .container{
                display: flex;
                flex-wrap: wrap;
            }
            .card-box{
                width: 80%;
            }
            .check-container{
                font-size: 14px;
            }
            .content-heading h3{
                font-size: 16px;
            }
            .card-box>div form label{
                flex-wrap: wrap;
            }
            .card-box>div form label input{
                width: 100%!important;
            }
            .payment input{
                width: 100%!important;
            }
            .content-container .content-inner .left-container{
                width: 100%;
            }
            .content-container .content-inner .right-container{
                width: 100%;
            }
        }